[submodule "test"]
	path = test
	url = https://github.com/Cartman0/test.git
[submodule "FileAPI_Sample_SlectReadPrintImage"]
	path = FileAPI_Sample_SlectReadPrintImage
	url = https://github.com/Cartman0/FileAPI_Sample_SlectReadPrintImage.git
[submodule "FileAPI_Canvas_Sample_SelectReadDrawImage"]
	path = FileAPI_Canvas_Sample_SelectReadDrawImage
	url = https://github.com/Cartman0/FileAPI_Canvas_Sample_SelectReadDrawImage.git
[submodule "CheckDeviceWithUserAgent"]
	path = CheckDeviceWithUserAgent
	url = https://github.com/Cartman0/CheckDeviceWithUserAgent.git
[submodule "FileAPI_Canvas_Sample_CaptureCamera_Resize"]
	path = FileAPI_Canvas_Sample_CaptureCamera_Resize
	url = https://github.com/Cartman0/FileAPI_Canvas_Sample_CaptureCamera_Resize.git
